artifact
apps.py
insurance_logs
prediction
saved_models
*.insurance.egg-info
.env
batch_prediction.py
data_dump.py
main.py
README.md 
train.py

artifacts
demo
env
venv
logs
log
infrastructure
docs
sensor.egg-info
LICENSE
README.md
notebooks
scripts
