<html>
 <body>
 
   <h1>Internet Banking</h1>
     <form action="/account_data" method="POST">
        <fieldset>
         <legend> Net Banking </legend>
            <table>
                   <tr>
                        <td><label>Enter Your Age:</label></td>
                        <td><input type="number" name="Age" placeholder="Age"/></td>
                    </tr>
                    <tr>
                        <td><label> Enter Your Gender:</label></td>
                        <td><input type="number" name="Gender" placeholder="Gender" /></td>
                    </tr>
                    <tr>
                        <td><label> Enter Your BMI:</label></td>
                        <td><input type="number" name= "BMI" placeholder="BMI"/></td>
                    </tr>
                    <tr>
                        <td><label>Number of Children:</label></td>
                        <td><input type="number" name="no_of_children" placeholder="children"></td>
                    </tr>
                    <tr>
                    <td><label>Smoker or not:</label></td>
                        <td><input type="number" name="Smoker_or_not" placeholder="Smoker"></td>
                    </tr>
                    <tr>
                    <td><label>Enter your Region:</label></td>
                        <td><input type="number" name= "Enter_your_Region" placeholder="Region"></td>
                    </tr>
                    <tr>
                    <td><label>Charges:</label></td>
                        <td><input type="number" name="Charges" placeholder="Charges"></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right"> 
                            <input type="submit" value="Submit"/>
                        </td>  
                    </tr> 
                </table>
        </fieldset>  
     </form>
    <a href="/check_account_balance"> check balance </a><br><br>
    <a href="/check_account_details"> Account Details </a>
  </body>
</html>